/* General Styles */
.hero-container {
    min-height: 100vh;
    background-color: black;
    background-size: 35%;
    background-position: left 100px top 100px;
    background-repeat: no-repeat;
  }
  
  .hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    height: calc(70vh - 60px);
  }
  
  @media (min-width: 1024px) {
    .hero-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .hero-image-wrapper {
      margin-left: 20px;
      margin-top: -56px;
      display: block;
    }
  }
  
  /* Hero Image Styles */
  .hero-image-wrapper {
    display: none;
  }
  
  .hero-image {
    width: 400px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Text Styles */
  .hero-text {
    font-size: 80px;
    font-weight: bold;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  @media (min-width: 640px) {
    .hero-text {
      font-size: 100px;
    }
  }
  